.DS_Store

config/fish/fish_variables
config/yay
config/dconf
config/pulse
config/nvim/.netrwhist
config/configstore
config/coc
config/Zeal

!config/pulse/default.pa
!config/coc/extensions/package.json

config/jesseduffield/lazygit/state.yml