.DS_Store

config/fish/fish_variables
config/yay
config/dconf
config/pulse
config/nvim/.netrwhist
config/vifm/colors/
config/vifm/vifm-help.txt
config/vifm/vifminfo
config/configstore
config/coc

!config/pulse/default.pa
!config/coc/extensions/package.json
