.DS_Store

config/dconf
config/pulse
config/nvim/.netrwhist
config/configstore
config/Zeal

!config/pulse/default.pa
!config/coc/extensions/package.json

config/jesseduffield/lazygit/state.yml
config/dlv/.dbg_history
config/fish/.private.fish

config/fisher/
config/fish/completions/
config/fish/fish_variables
config/fish/conf.d/
config/fish/functions/

config/doom/flycheck_config.elc
config/doom/flycheck_init.elc
config/VirtualBox/

