! Set DPI
Xft.dpi: 192

! Font settings from ArchWiki
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Set cursor
Xcursor.theme: layan-border
Xcursor.size: 32

! Run rofi commands in fish shell
! May be slow if config.fish is slow
rofi.run-command: fish -c '{cmd}'
